@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


/* ::-webkit-scrollbar-thumb{
  background: #cfcfcf ;
  border-radius: 20px;
} */


.carousel .thumb.selected, .carousel .thumb .selected{
  border: 2px solid #04f20c !important;
}
/* .carousel .thumb.selected, .carousel .thumb{
  border: 0px solid #c72a2a !important;
} */

.carousel .thumb{
border: 1px solid #fff !important;
}
